.App {
  text-align: center;
}

.container > div.card {
  font-family: 'Ubuntu';
  font-size: 30px;
  width: 500px;
  height: 300px;
  border: 0;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px black;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 30px;
  margin: 50px;
  transition: top 0.2s, left 0.5s;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container > div.card-node {
  visibility: hidden;
}

.container > div.card-dupe {
  position: absolute;
  visibility: visible;
}







