.App {
  text-align: center;
}

.button-list {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  font-size: 30px;
  height: 300px;
  padding-left: 30px;
  border-radius: 15px;
  margin: 10px;
  background-color: #202231;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.control-panel {
  background-color: #161522;
  border-radius: 50px;
  box-shadow: 0px 0px 5px black;
  margin: 3px;
  height: 100px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.card-container {
  font-family: 'Electrolize';
  color: white;
  background-color: #101018;
  border-radius: 15px;
  box-shadow: 0px 0px 5px black;
  padding: 15px;
  width: 500px;
  margin: 50px;
  transition: top 0.2s, left 0.5s;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-container-node {
  visibility: hidden;
}

.card-container-dupe {
  position: absolute;
  visibility: visible;
}







